.case-studies,
.case-studies-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--case-study-bg);
    gap: 2rem;
}

.case-study-card {
    background-color: var(--case-study-card-bg);
    color: white;
    width: 90%;
    border-radius: 1em;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.case-study-card .img-container {
    width: 80%;
    max-width: 561px;
    min-width: 296px;
    text-align: left;
}

.case-study-card .img-container img {
    width: 100%;
    margin: 2rem auto;
}

.case-study-card .case-study-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    max-width: 70ch;
}

.case-study-card .case-study-text .case-study-numerical-data {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: center;
    width: 100%;
}

.case-study-card .case-study-text .case-study-numerical-data h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 auto;
    width: fit-content;
}

.case-study-card .case-study-text .case-study-numerical-data h4::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FFDE29;
}

.case-study-card .case-study-text .case-study-numerical-data p {
    font-size: 0.625rem;
}
